<div
  class="info text-center d-flex flex-column justify-content-center align-items-center"
>
  <h1>Create Message</h1>
</div>
<form [formGroup]="createPostForm" (ngSubmit)="onSubmit()" id="createPostForm">
  <div class="form-group mb-3 text-center">
    <label for="title_message">Message Title</label>
    <br />
    <input
      id="title"
      type="text"
      formControlName="postTitle"
      placeholder="Your message title"
      required
    />
    <div
      *ngIf="
        createPostForm.get('postTitle')?.hasError('required') &&
        createPostForm.get('postTitle')?.touched
      "
    >
      <div class="alert alert-danger" style="font-size: 20px">
        This field is required
      </div>
    </div>
    <div *ngIf="createPostForm.get('postTitle')?.hasError('pattern')">
      <div class="alert alert-danger">Please enter a valid title</div>
    </div>
  </div>

  <div class="form-group mb-3 text-center">
    <label for="message">Message Content</label>
    <br />
    <textarea
      id="message"
      type="text"
      formControlName="postMessage"
      placeholder="Create a message to share with your friends."
      required
    ></textarea>
    <div
      *ngIf="
        createPostForm.get('postMessage')?.hasError('required') &&
        createPostForm.get('postMessage')?.touched
      "
    >
      <div class="alert alert-danger" style="font-size: 20px">
        This field is required
      </div>
    </div>
    <div *ngIf="createPostForm.get('postMessage')?.hasError('pattern')">
      <div class="alert alert-danger">Please enter a valid message</div>
    </div>
  </div>

  <div id="buttonSubmit" class="text-center">
    <button type="submit" [disabled]="!isFormValid()" class="btn-submit">
      SHARE
    </button>
  </div>
</form>

<div class="message-preview">
  <div id="Post">
    <div class="header">
      <p>{{ createPostForm.value.postTitle }}</p>
    </div>
    <div class="content">
      <p>
        {{ createPostForm.value.postMessage }}
      </p>
      <div class="row">
        <div class="col-md-5" id="dateCreate">
          {{ this.currentDateTime }}
        </div>
        <div class="col-md-5" id="userCreate">
          {{ this.user }}
        </div>
      </div>
    </div>
  </div>
</div>
