<div
  class="info text-center d-flex flex-column justify-content-center align-items-center"
>
  <h2>All Messages</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <p class="words">Words to Search?</p>
  </div>
  <div class="col-md-6" id="messages">
    <div class="showing-message">
      {{ showingPostsMessage }}
    </div>
    <div *ngIf="errorMessage !== ''" class="error-message">
      {{ errorMessage }}
    </div>
  </div>

  <div class="keyword-filter">
    <input
      type="text"
      [(ngModel)]="keywordFilter"
      (input)="applyFilter()"
      placeholder="Keyword Filter"
    />
  </div>
</div>

<p id="dateSelectAllPost">Select Date</p>

<div class="selectDate">
  <input
    matInput
    [matDatepicker]="picker"
    placeholder="Select a date"
    [(ngModel)]="selectedDate"
    (dateChange)="onDateChange()"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</div>

<div *ngFor="let message of filteredMessages; let i = index" id="resultAll">
  <div id="allPost">
    <div class="header">
      <p>{{ message.postTitle }}</p>
    </div>
    <div class="content">
      <p>
        {{ message.postMessage }}
      </p>
      <div class="row">
        <div class="col-md-5" id="dateAll">
          {{ message.datetime | date : "h:mm a dd/MM/yy" }}
        </div>
        <div class="col-md-5" id="userAll">
          {{ message.username }}
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator
  [length]="totalMessages"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
></mat-paginator>
