<h2>Todos los Mensajes</h2>

<div class="keyword-filter">
  <input
    type="text"
    [(ngModel)]="keywordFilter"
    (input)="applyFilter()"
    placeholder="Keyword Filter"
  />
</div>
<mat-form-field>
  <input
    matInput
    [matDatepicker]="picker"
    placeholder="Selecciona una fecha"
    [(ngModel)]="selectedDate"
    (dateChange)="onDateChange()"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class="showing-message">
  {{ showingPostsMessage }}
</div>

<div *ngIf="errorMessage !== ''" class="error-message">
  {{ errorMessage }}
</div>
<div *ngFor="let message of filteredMessages; let i = index">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ message.postTitle }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ message.postMessage }}
      </p>
    </mat-card-content>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          {{ message.datetime | date : "h:mm a dd/MM/yy" }}
        </div>
        <div class="col-md-6">{{ message.username }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator [length]="totalMessages" [pageSize]="pageSize"></mat-paginator>
